<div class="links">
  <p class="p1">Current Sponsors</p>
  <p class="p3">Please visit our Sponsors</p>

      <div class="item">
        <img src="http://rebekahestey.com/cv64/se/homes/sponsors/1.jpg" alt="1">
          <p class="p3">Sponsor 1</p>
      </div>

      <div class="item">
        <img src="http://rebekahestey.com/cv64/se/homes/sponsors/2.jpg" alt="2">
                  <p class="p3">Sponsor 2</p>
      </div>

      <div class="item">
        <img src="http://rebekahestey.com/cv64/se/homes/sponsors/3.jpg" alt="3">
                  <p class="p3">Sponsor 3</p>
      </div>

      <div class="item">
        <img src="http://rebekahestey.com/cv64/se/homes/sponsors/4.jpg" alt="4">
                  <p class="p3">Sponsor 4</p>
      </div>

      <div class="item">
        <img src="http://rebekahestey.com/cv64/se/homes/sponsors/5.jpg" alt="5">
                  <p class="p3">Sponsor 5</p>
      </div>
</div>
