<div class="detail">
  <div class="panel-heading">

    <br>
    <div>
        <ul>
          <li><b>Description:&nbsp;&nbsp;1.25 Acres, Circular Drive and
              Large 2 Car Drive. Water Fountain with Lights at the
              Entrance. Property in a Cove off Chesapeake Bay, with Deep
              Water Access</b></li><br>

          <li>Year Built:&nbsp;&nbsp;2005</li>
          <li>Square Footage:&nbsp;&nbsp;3055</li>
          <li>Bedrooms:&nbsp;&nbsp;3</li>
          <li>Bathrooms:&nbsp;&nbsp;2 Full</li>
          <li>Parking 2 Car Garage / Large Driveway</li>
          <li>Lot Size 54,450 Square Feet (1.25 Acres)</li>
          <li>NO HOA / Maintenance</li>
          <li>Fishing and Blue Crab with no License Required.</li>
          <li>Chesapeake Bay - Deep Water Access</li>
          <li>Steel Frame (Zinc Oxide) 12 to 16 Gauge Home</li>
          <li>3 Foot x 3 Foot Foundation / 10 Inch Concrete Walls</li>
          <li>Commercial Grade Electrical / CPVC Plumbing</li>
          <li>Extreme Energy Efficient (1st Floor R75 Rating)</li>
          <li>Spray Foam Insulation Throughout (No Leaks)</li>
          <li>Seer 18 Heat Pump (Extreme High Efficiency)</li>
        </ul>
    </div>
    <br>

    <table>
      <tbody>
        <tr>
          <td>
            <button type="button" class="btn btn-info button_large" style="background:url('http://rebekahestey.com/cv64/se/homes/se1/images/t1.jpg')" alt="t1"></button>
            <button type="button" class="btn btn-info button_large" style="background:url('http://rebekahestey.com/cv64/se/homes/se1/images/t2.jpg')" alt="t2"></button>
            <button type="button" class="btn btn-info button_large" style="background:url('http://rebekahestey.com/cv64/se/homes/se1/images/t3.jpg')" alt="t3"></button>
            <button type="button" class="btn btn-info button_large" style="background:url('http://rebekahestey.com/cv64/se/homes/se1/images/t4.jpg')" alt="t4"></button>
            <button type="button" class="btn btn-info button_large" style="background:url('http://rebekahestey.com/cv64/se/homes/se1/images/t5.jpg')" alt="t5"></button>
            <button type="button" class="btn btn-info button_large" style="background:url('http://rebekahestey.com/cv64/se/homes/se1/images/t6.jpg')" alt="t6"></button>
            <button type="button" class="btn btn-info button_large" style="background:url('http://rebekahestey.com/cv64/se/homes/se1/images/t7.jpg')" alt="t7"></button>
            <button type="button" class="btn btn-info button_large" style="background:url('http://rebekahestey.com/cv64/se/homes/se1/images/t8.jpg')" alt="t8"></button>
            <button type="button" class="btn btn-info button_large" style="background:url('http://rebekahestey.com/cv64/se/homes/se1/images/t9.jpg')" alt="t9"></button>
          </td>
        </tr>
      </tbody>
    </table>
