<div class="panel panel-info" >
  <div class="panel-heading se_heading"><p class="p1">Homes Available</p></div>
  <div *ngFor="let homeBundle of segmentedHomes">
    <div class="btn-group col-md-12" role="group" aria-label="...">
      <div *ngFor="let home of homeBundle">
        <button type="button" class="btn btn-info button_large col-md-4" [ngStyle]="{'background-image': 'url(' + background + ')'}">
          <p class="p2">{{home.title1}}</p>
          <p class="p2">{{home.title2}}</p>
          <p class="p2">{{home.price}} USD</p>
          <p class="p4">{{home.address}}</p>
          <p class="p4">{{home.id}}</p>
        </button>
        <hr/>
      </div>
    </div>
  </div>
</div>
