<div class="panel panel-default">

  <div class="panel-heading">
    <div class="row">
      <header></header>
    </div>
  </div>


  <table class="table">
    <div class="row">
      <div class="col-md-2">
        <links></links>
      </div>

      <div class="col-md-5">
        <content></content>
      </div>

      <div class="col-md-5">
        <map></map>
        <detail></detail>
        <carousel></carousel>
      </div>
    </div>
  </table>

  <div class="row">
    <footer></footer>
  </div>

</div>
