<div class="footer">
  <div class="row">

    <div class="col-md-2 copyright">
      Copyright © 2017<script language="Javascript">
      now = new Date();
      year = now.getYear();
      if(year < 100) { year = year + 2000; } else { if(year >= 100 && year < 2000) { year = year + 1900; } }
      document.write(year);
      </script>
    </div>

    <div class="col-md-2">
      <a href="http://rebekahestey.com/cv64/se/">Home</a>
      <a href="http://rebekahestey.com/cv64/se/" onclick="window.open('http://rebekahestey.com/cv64/se/about.html', 'About Us', 'width=600, height=450');">About Us</a>
      <a href="http://rebekahestey.com/cv64/se/" onclick="window.open('http://rebekahestey.com/cv64/se/contact.html', 'Contact Us', 'width=545, height=460');">Contact Us</a>
    </div>

    <div class="col-md-2">
        <a href="http://www.facebook.com/soberEstates" rel="nofollow" target="_blank">Facebook</a>
        <a href="http://twitter.com/soberEstates" rel="nofollow" target="_blank">Twitter</a>
        <a href="http://plus.google.com/+soberEstates" rel="nofollow" target="_blank">Google+</a>
    </div>

  </div>
</div>
